body{
	background : linear-gradient(to bottom, #F6F0DE, #BDAFA5);
	margin : 0;
	min-height : 700px;
}

.container{
	margin : 2% 10% 0 10%;
	max-width : 1280px;
	min-height : 100%;
	max-height : 1653px;
	position : relative;
	box-sizing : border-box;
}
.logo-container{
	display : inline-block;
	width : 18%;
	margin : 0;
}

.logo{
	width : 100%;
	height : 100%;
}

.nav{
	display : inline-block;
	width : 81%;
	margin : 0;
}

.side-nav ul{
	margin : 0;
	padding : 0 0 0 22%;
}

.side-nav li{
	list-style : none;
	float : left;
	margin-left : 8%;
}

.side-nav a{
	display : block;
	font-family : Arial;
	font-size : 20px;
	line-height : 100%;
	color : #898989;
	text-decoration: none;
}

.side-nav a:hover{
	color : #000000;
	font-size : 22px;
}

.clear{
	clear : both;
}

.clear:after{
	content : "";
	display : block;
	clear : both;
}

.banner{
	margin : 1% 0 0 0;
	width : 100%;
}

.title{
	display : block;
	margin : 2% 0 5% 0;
}

.content-title{
	display : inline-block;
	color : #898989;
	font-size : 24px;
	line-height : 20px;
	font-family : Arial;
}

.content{
	display : inline-block;
	margin : 1% 0 0 0;
}

.content .left{
	width : 45%;
	display : inline-block;
	margin : 1% 3% 1% 3%;
}

.content .left p{
	font-size : 19px;
	line-height : 22px;
	font-family : Arial;
	color : #898989;
}

.content .left .button{
	font-size : 12px;
	line-height : 16px;
	color : #ffffff;
	background-color : #3469C6;
	border : #3469C6;
	padding : 1% 4% 1% 4%;
	margin : 0 0 1% 40%; 
}

.content .left .button:hover{
	background-color : #3879F1;
}

.content .left .button:active{
	background-color : #0B2FA2;
}

.content .right{
	width : 45%;
	display : inline-block;
	float : right;
}
.content-top-image{
	width : 100%;
	height : auto;
}

.content-left{
	display : inline-block;
	margin : 5% 3% 3% 0;
	width : 45%;
	float : left;
	line-height : 12px;
}

.content-right{
	display : inline-block;
	margin : 3% 0 3% 3%;
	width : 45%;
	line-height : 12px;
	float : right;
}

.content-image{
	width : 100%;
}

.sub-title{
	margin : 2% 0 0 1%;
}

.sub-title a{
	font-family : Arial;
	font-size : 20px;
	color : #898989;
	text-decoration : none;
	font-weight : bold;
	line-height : 20px;
}

.sub-title a:hover{
	color : #000000;
}

.video{
	width : 100%;
	height : 305px;
}

.hor-line-long{
	border-top : 1px solid #898989;
	width : 38%;
	height : 0;
	display : inline-block;
}

.hor-line-short{
	border-top : 1px solid #898989;
	width : 30%;
	height : 0;
	display : inline-block;
}

footer{
	background-color : #A48875;
	padding : 1% 25% 1% 40%;
	width : auto;
}

.icon{
	width : 8%;
	height : 8%;
	margin : 0 0 0 3%;
}

.icon:hover{
	width : 10%;
	height : 10%;
	margin : 0 0 0 5%;
}

.footer-icon-group{
	margin-left : -5%;
}

.footer-text{
	font-family : Arial;
	font-size : 14px;
	color : white;
	margin : 0;
}